
                    
                   {% load static %}
                   <!DOCTYPE html>
                   <html lang="en">
                   
                   <head>
                      <!--
                       Basic Page Needs
                       ==================================================
                       -->
                      <meta charset="utf-8">
                      <title>NAS Logistics</title>
                      <!--
                       Mobile Specific Metas
                       ==================================================
                       -->
                      <meta http-equiv="X-UA-Compatible" content="IE=edge">
                      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
                      <!--
                       CSS
                       ==================================================
                       -->
                      <!-- Bootstrap-->
                      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
                      <link rel="stylesheet" href="{% static 'css/animate.css' %}">
                      <link rel="stylesheet" href="{% static 'css/morris.css' %}">
                      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
                      <link rel="stylesheet" href="{% static 'css/icon-font.css"' %}">
                      <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
                      <link rel="stylesheet" href="{% static 'css/colorbox.css' %}">
                      <link rel="stylesheet" href="{% static 'css/style.css' %}">
                      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
                     
                   
                   
                      <!-- Owl Carousel-->
                      <link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
                      <link rel="preconnect" href="https://fonts.googleapis.com">
                      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
                      <!-- Owl Theme -->
                   
                      <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file.-->
                      <!--if lt IE 9
                       script(src='js/html5shiv.js')
                       script(src='js/respond.min.js')
                       
                       -->
                       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@icon/icofont@1.0.1-alpha.1/icofont.min.css">
                       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                   </head>
                   <style>
                     
                      .containers {
                         position : relative;
                         width : 1100px;
                         display : flex;
                         align-items : center;
                         justify-content : center;
                         flex-warp : warp;
                         padding : 30px;  
                       }
                       
                       .containers .card {
                         position: relative;
                         max-width : 300px;
                         height : 215px;  
                         background-color : #fff;
                         margin : 30px 10px;
                         padding : 20px 15px;
                         
                         display : flex;
                         flex-direction : column;
                         box-shadow : 0 5px 20px rgba(0,0,0,0.5);
                         transition : 0.3s ease-in-out;
                         border-radius : 15px;
                       }
                       .containers .card:hover {
                         height : 320px;    
                       }
                       
                       
                       .containers .card .image {
                         position : relative;
                         width : 260px;
                         height : 260px;
                         
                         top : -40%;
                         left: 8px;
                         box-shadow : 0 5px 20px rgba(0,0,0,0.2);
                         z-index : 1;
                       }
                       
                       .containers .card .image img {
                         max-width : 100%;
                         border-radius : 15px;
                       }
                       
                       .containers .card .content {
                         position : relative;
                         top : -140px;
                         padding : 10px 15px;
                         color : #111;
                         text-align : center;
                         
                         visibility : hidden;
                         opacity : 0;
                         transition : 0.3s ease-in-out;
                           
                       }
                       
                       .containers .card:hover .content {
                          margin-top : 30px;
                          visibility : visible;
                          opacity : 1;
                          transition-delay: 0.2s;
                         
                       }
                   
                   
                       .fa-btn:hover{
                         color: orange;
                         cursor: pointer;
                       }
                   
                   
                       
                   input{
                    
                   }
                   
                     button {
                         background-color:orange;
                         color: #fff;
                         padding: 5px 10px;
                         border: none;
                         border-radius: 4px;
                         cursor: pointer;
                         line-height: 20px;
                     }
                   
                     button:hover {
                         background-color: orange;
                     }
                     
                   </style>
                   
                   
                   <body>
                   
                      <div class="body-inner">
                   
                         <div class="site-top-2">
                            <header class="header nav-down" id="header-2">
                               <div class="container">
                                  <div class="row">
                                     <div class="logo-area clearfix">
                                        <div class="logo col-lg-3 col-md-12">
                                           <a href="index.html">
                                              <img src="{% static 'images/logo.png' %}" width="200px" alt="">
                                           </a>
                                        </div>
                                        <!-- logo end-->
                                        <div class="col-lg-9 col-md-12 pull-right">
                                           <ul class="top-info unstyled">
                                              <li><span class="info-icon"><i class="icon icon-phone3"></i></span>
                                                 <div class="info-wrapper">
                                                    <p class="info-title">24/7 Response Time</p>
                                                    <p class="info-subtitle">+966 13-8944872</p>
                                                 </div>
                                              </li>
                                              <li><span class="info-icon"><i class="icon icon-envelope"></i></span>
                                                 <div class="info-wrapper">
                                                    <p class="info-title">Send Your Query</p>
                                                    <p class="info-subtitle">customerservice@nasfreightsolutions.com</p>
                                                 </div>
                                              </li>
                                              
                                           </ul>
                                        </div>
                                        <!-- Col End-->
                                     </div>
                                     <!-- Logo Area End-->
                                  </div>
                               </div>
                               <!-- Container end-->
                               <div class="site-nav-inner site-navigation navigation navdown">
                                  <div class="container">
                                     <nav class="navbar navbar-expand-lg ">
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                           aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="icon icon-menu"></i></span></button>
                                        <!-- End of Navbar toggler-->
                                        <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
                                           <ul class="navbar-nav">
                                            
                   
                                             <li class="nav-item dropdown">
                                                <a href="/track-orders">Track</a>
                                             </li>
                                              <!-- li end-->
                                             
                                              <!-- li end-->
                                              <li class="nav-item dropdown"><a class="nav-link" href="#" data-toggle="dropdown">Features<i class="fa fa-angle-down"></i></a>
                                                 <ul class="dropdown-menu" role="menu">
                                                    <li><a href="{% url 'weight_calculator' %}">Weight Calculator</a></li>
                                                    <li><a href="{% url 'register_weight' %}">Register weight</a></li>
                                                   
                                                    </li>
                                                 </ul>
                                              </li>
                                           
                                             
                                              <li class="nav-item dropdown">
                                                 <a href="/order_history">Order Hisory</a>
                                              </li>
                   
                                              
                                              <li class="nav-item dropdown">
                                                <a href="/customer-list">Customer List</a>
                                             </li>
                                           </ul>
                                          
                                           <!--Nav ul end-->
                                        </div>
                                       
                                        <li>
                                           {% if user.is_authenticated %}
                                          <li><a href="{% url  'staff_dashboard' %}">My account</a> | <a href="{% url 'logout' %}" class="top-right-btn btn btn-primary">Logout</a></li>
                                       {% else %}
                                          <li><a href="{% url 'staff_login' %}" class="top-right-btn btn btn-primary">Login</a> | <a href="{% url 'staff_register' %}" class="top-right-btn btn btn-primary">Register</a></p>
                                       {% endif %}
                                       </li>
                                        <!-- Top bar btn -->
                                     </nav>
                                     <!-- Collapse end-->
                   
                                     
                                     
                                  </div>
                               </div>
                               <!-- Site nav inner end-->
                            </header>
                            <!-- Header end-->
                         </div>
                   
                         <div class="carousel slide" id="main-slide" data-ride="carousel">
                            <!-- Indicators-->
                            <ol class="carousel-indicators visible-lg visible-md">
                               <li class="active" data-target="#main-slide" data-slide-to="0"></li>
                               <li data-target="#main-slide" data-slide-to="1"></li>
                               <li data-target="#main-slide" data-slide-to="2"></li>
                            </ol>
                            <!-- Indicators end-->
                            <!-- Carousel inner-->
                            <div class="carousel-inner">
                               <div class="carousel-item active" style="background-image:url({% static 'images/slider/bg1.jpg' %});">
                                  <div class="container">
                                     <div class="slider-content text-left">
                                        <div class="col-md-12">
                                           <h2 class="slide-title title-light">You have needs</h2>
                                           <h3 class="slide-sub-title">We Have the Solutions</h3>
                                           <p class="slider-description lead">We will deal with your failure that determines <br/> how you achieve success.</p>
                                           <p><a class="slider btn btn-primary" href="#">Know More</a><a class="slider btn btn-border" href="#">View Services</a></p>
                                           
                                              <form action="#" method="post">
                                                    <div class="form-group">
                                                       
                                                       <input type="text" id="trackingNumber" name="trackingNumber" placeholder="Tracking ID" required>
                                                       <button type="submit">Track</button>
                                                    </div>
                                                    
                                              </form>
                   
                   
                                        </div>
                   
                                       
                                        <!-- Col end-->
                                     </div>
                                     <!-- Slider content end-->
                                  </div>
                                  <!-- Container end-->
                               </div>
                               <!-- Carousel item 1 end-->
                               <div class="carousel-item" style="background-image:url({% static 'images/slider/bg2.jpg' %});">
                                  <div class="container">
                                     <div class="slider-content text-center">
                                        <div class="col-md-12">
                                           <h2 class="slide-title title-light">We deal with logistics</h2>
                                           <h3 class="slide-sub-title">You focus on your Business</h3>
                                           <p class="slider-description lead">We will deal with your failure that determines </p>
                                           <p><a class="slider btn btn-primary" href="#">Our Services</a></p>
                                        </div>
                                        <!-- Col end-->
                                     </div>
                                     <!-- Slider content end-->
                                  </div>
                                  <!-- Container end-->
                               </div>
                               <!-- Carousel item 2 end-->
                               <div class="carousel-item" style="background-image:url({% static 'images/slider/bg3.jpg' %});">
                                  <div class="container">
                                     <div class="slider-content text-right">
                                        <div class="col-md-12">
                                           <h2 class="slide-title title-light">17 years of experience</h2>
                                           <h3 class="slide-sub-title">Strong Distribution Network</h3>
                                           <p><a class="slider btn btn-primary" href="#">View Services</a></p>
                                        </div>
                                        <!-- Col end-->
                                     </div>
                                     <!-- Slider content end-->
                                  </div>
                                  <!-- Container end-->
                               </div>
                               <!-- Carousel item 3 end-->
                            </div>
                            <!-- Carousel inner end-->
                            <!-- Controllers--><a class="left carousel-control carousel-control-prev" href="#main-slide" data-slide="prev"><span><i class="fa fa-angle-left"></i></span></a>
                            <a class="right carousel-control carousel-control-next" href="#main-slide" data-slide="next"><span><i class="fa fa-angle-right"></i></span></a>
                         </div>
                     <br><br> 
  <div style="max-width: 800px; margin: auto;">
    <h1 style="text-align: center; color: #333;">Staff Dashboard</h1>

    <div style="margin-top: 20px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); background-color: #fff; padding: 20px;">
      <h2 style="color: #007bff;">Orders:</h2>
      <ul style="list-style: none; padding: 0;">
          {% for order in orders %}
              <li style="margin-bottom: 15px; border: 1px solid #ddd; border-radius: 5px; padding: 10px; display: flex; justify-content: space-between; align-items: center;">
                  <div>
                      {{ order }} - {{ order.contact}}
                      Status: {{ order.status.status }}
                  </div>
                  <form method="post" action="{% url 'change_status' order_id=order.id %}" style="display: flex; align-items: center;">
                      {% csrf_token %}
                      <select name="new_status" style="margin-right: 10px; padding: 8px; border-radius: 5px;">
                          <option value="ORDER_PLACED">Order Placed</option>
                          <option value="ORDER_TAKEN">Order Taken</option>
                          <option value="PARCEL_IN_WAREHOUSE">Parcel in Warehouse</option>
                          <option value="DISPATCHED_TO_DELIVERY">Dispatched to Delivery</option>
                          <option value="ORDER_DELIVERED">Order Delivered</option>
                      </select>
                      <button type="submit" style="color: #fff; padding: 8px; border: none; border-radius: 5px; cursor: pointer;">Change Status</button>
                  </form>
              </li>
          {% endfor %}
      </ul>
    </div>
  </div>
<!-- Footer start-->
 <!-- Footer start-->
 <footer class="footer" id="footer">
   <div class="footer-main bg-overlay">
      <div class="container">
         <div class="row">
            <div class="col-lg-4 col-md-12 footer-widget footer-about">
               <div class="footer-logo">
                  <img src="images/footer-logo.png" width="200px" alt="">
               </div>
               <p>Transline Logistics is the UK's leading freight forwarding, Midst brought winged midst beast years, be very was. Brought that called creeping</p>
               
               <h3 class="widget-title">Subscribe Newsletter!</h3>
               <form class="newsletter-form" id="newsletter-form" action="#" method="post">
                  <div class="form-group">
                     <input class="form-control form-control-lg" id="newsletter-form-email" type="email" name="email" placeholder="Email "
                        autocomplete="off">
                     <button class="btn btn-primary"><i class="fa fa-paper-plane"></i></button>
                  </div>
               </form>
            </div>
            <!-- About us end-->
            <div class="col-lg-4 col-md-6 footer-widget">
               <h3 class="widget-title">Quick Links</h3>
               <ul class="list-dash">
                <li><a href="/">home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="{% url "place_order" %}">place order</a></li>
                <li><a href="/track-orders">Track</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/weight-calculator">Weight Calculator</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/customclearance">customclearance</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6 footer-widget">
               <h3 class="widget-title">Company Locations</h3>
               <div class="ts-contact-info"><span class="ts-contact-icon float-left"><i class="icon icon-map-marker2"></i></span>
                  <div class="ts-contact-content">
                     <h3 class="ts-contact-title">Address</h3>
                     <p>Prince Mansoor Street, Al Khobar-3068
                        Al Shamaliyah, KSA, P.O: 34429</p>
                  </div>
                  <!-- Contact content end-->
               </div>
               
               <div class="ts-contact-info last"><span class="ts-contact-icon float-left"><i class="icon icon-envelope"></i></span>
                  <div class="ts-contact-content">
                     <h3 class="ts-contact-title">Email Address</h3>
                     <p>customerservice@nasfreightsolutions.com</p>
                  </div>
                  <!-- Contact content end-->
               </div>
               <div class="ts-contact-info"><span class="ts-contact-icon float-left"><i class="icon icon-phone3"></i></span>
                  <div class="ts-contact-content">
                     <h3 class="ts-contact-title">Phone Number</h3>
                     <p>+966 13-8944872</p>
                  </div>
                  <!-- Contact content end-->
               </div>
            </div>
         </div>
         <!-- Content row end-->
      </div>
      <!-- Container end-->
   </div>
   <!-- Footer Main-->
   <div class="copyright">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 col-md-12">
               <div class="copyright-info"><span>Copyright © 2024 a  designed by <a href="">Dbot Digital</a></span></div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="footer-social text-right">
                  <ul>
                     <li><a href="https://facebook.com"><i class="fa fa-facebook"></i></a></li>
                     <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                     <li><a href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                     <li><a href="https://github.com"><i class="fa fa-github"></i></a></li>
                     <li><a href="https://instagram.com"><i class="fa fa-instagram"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- Row end-->
      </div>
      <!-- Container end-->
   </div>
   <!-- Copyright end-->
</footer>
<!-- Footer end-->

<div class="back-to-top affix" id="back-to-top" data-spy="affix" data-offset-top="10">
   <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i>
      <!-- icon end-->
   </button>
   <!-- button end-->
</div>
<!-- End Back to Top-->

<!--
Javascript Files
==================================================
-->
<!-- initialize jQuery Library-->
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.colorbox.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
</div>
<!--Body Inner end-->
</body>

</html>